body {background: #ffeead;
display: block;
margin:0 auto;
max-width:100%;
 max-width:60em;
}


#banner {
background: #fff url("https://scontent.xx.fbcdn.net/v/t1.0-9/13925083_10210270472025109_3240060794637377182_n.jpg?oh=138c656c52f799f3bc0c4e45a6aa1516&oe=5990510F") no-repeat center top;
background-size: cover;
padding: 5% 0;
text-align: center;
margin: 1em -0.5em ;}

#banner h1 {
display: inline-block;
font: bold 3em/1.15 PT-sans, sans-serif;
font-size: 3.3em;
color:  #fff;
padding: 0.3em;
background: rgba(0, 0, 0, 0.6);
}
img.title {display: inline-block;
margin:-0.5em 1em 0.5em 1em;
max-width: 7em;
float: right;
border: 15px solid #96ceb4;}

img.teach {display:block;
  max-width:25em;
margin:auto;
border: 7px solid #ff6f69;
width:100%;
height:auto; }


ul.menu {list-style:none;
display:block;
float:center;
text-align:center;
background: #ff6f69;
padding-left:0;
padding-bottom: 0.5em;
padding-top: 0.5em;
margin:-0.5em -0.5em 1em -0.5em;
overflow:hidden;
font-family: georgia;
font-size: 1.1em}

ul.options {
  color:#001822;
   background:#f67b5e;
font-family: verdana ;
float:center;
padding:0;
text-align:center;
font-size: 1.3em;
line-height: 0.9em;}

li {
display:inline-block;
text-align:center;
float:center;

padding: 0.5em 1em ; }

nav a {text-decoration: none;
  color: #13273e;}

h3.mission {margin: 1em;
  max-width: 8em;
  padding: 0.5em 0.5em;
  background:#96ceb4;
font-family:georgia;
font-size: 1.5em;
border: 5px solid #fff; }

h3.explore {margin: 1em;
  max-width: 5em;
  padding: 0.5em 0.5em;
  background:#96ceb4;
font-family:georgia;
font-size: 1.5em;
border: 5px solid #fff; }

h4.title {font-size: 1.2em;
  line-height: 1.7em;
Font-family:georgia;

background: #ffcc5c;
margin: 1em -0.5em;
padding: 0.5em 1em; }


p {font-family:georgia;
line-height: 1.5em;
margin: 1em;}

h5 {text-align:right;
margin: 1em;
font-size: 1em;}
